<launch>
	<node name="tcp_receiver_back" pkg="nimbro_topic_transport" type="tcp_receiver" output="screen">
		<param name="port" value="17002" />

		<!-- Remap topics so that sender & receiver do not clash if run on the
		  same machine. This is not necessary in a typical setup :-)
		 -->
		<remap from="/recv/my_first_topic" to="/my_first_topic" />
		<remap from="/recv/my_second_topic" to="/my_second_topic" />
	</node>
</launch>
