<launch>
	<!--
	  This launch file runs a udp_sender node, which sends topics from the local
	  roscore over the network on port 17001.

	  By default, this launch file sends topics to your local machine for
	  testing purposes. If you want to send to another machine, use
	    roslaunch nimbro_topic_transport udp_sender.launch target:=other_host
	  where other_host can be a host name or IP address.

	  See udp_receiver.launch for the receiving part.
	-->

	<arg name="target" default="localhost" />

	<!-- The UDP sender node -->
	<node name="udp_sender" pkg="nimbro_topic_transport" type="udp_sender" output="screen">

		<!-- The destination host name or IP address -->
		<param name="destination_addr" value="$(arg target)" />
		<param name="destination_port" value="17001" />

		<!-- Load the list of topics from a YAML file -->
		<rosparam command="load" file="$(find nimbro_topic_transport)/launch/topics.yaml" />
	</node>
</launch>
